.bottom-menu{
    height: 60px;
    background: #3D3D3D;
    width: 100%;
    color: #fff;
    margin-bottom: 65px;
}

.bottom-menu > .container {
    height: 100%;
}

.bottom-menu__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.navigation{
    height: 100%;
}

.navigation-list {
    display: flex;
    height: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navigation-list li {
    padding: 0px 20px;
}

.navigation-list li:hover, .navigation-list li:active{
    background: var(--dark-accent);
}


.navigation-list li {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.navigation-list li span{
    position: relative;
}

.navigation-list ul:not(:first-child) {
    display: none;
    background: var(--accent);
}

/* .navigation-list li:hover > ul{
    display: block;
} */

.first-level-menu > li{
    /* position: relative; */
    padding-right: 34px;
}

.first-level-menu > li > span::after{
    content: '';
    position: absolute;
    right: -14px;
    top: 50%;;
    transform: translateY(-50%);
    width: 8px;
    height: 7px;
    background: url(../../../ui-icons/nav/arrow-down.svg) center center no-repeat;
}




.second-level-menu{
    min-width: 300px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
}

.second-level-menu > li {
    /* position: relative; */
    min-height: 48px;
    padding: 14px 20px;
}
.second-level-menu > li::after, .third-level-menu > li::after  {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;;
    transform: translateY(-50%);
    width: 6px;
    height: 12px;
    background: url(../../../ui-icons/nav/arrow-right.svg) center center no-repeat;
}



.third-level-menu {
    min-width: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 5;
}

.third-level-menu > li {
    /* position: relative; */
    min-height: 48px;
    padding: 14px 20px;
}

.bottom-menu__inner .search__input{
    position: absolute;
    bottom: 8px;
    left: 0;
}

.bottom-menu__inner .search__btn{
    bottom: 18px;
}

.bottom-menu__contacts{
    display: none;
}

.bottom-menu__socials{
    display: none;
}


/* ======================MEDIA================== */

@media (max-width: 1000px) {
    .bottom-menu{
        height: 100vh;
        width: 372px;
        padding: 50px 0px;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
        transform: translate(110%, 100%);
        z-index: -1;
        transition: transform 0.3s;
        opacity: 0;
        visibility: hidden;
    }

    .bottom-menu.active{
        transform: translate(0%, 100%);
        z-index: 1;
        opacity: 1;
        visibility:visible;
    }
    .navigation{
        height: auto;
    }
    .navigation-list{
        flex-direction: column;
        height: unset;
    }

    .navigation-list li {
        height: unset;
        padding: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
    }

    .bottom-menu__inner {
        display: flex;
        flex-direction: column;
        row-gap: 52px;
        justify-content: space-between;
    }

    .bottom-menu__search{
        width: 100%;
        margin-bottom: 25%;
    }

    .bottom-menu__contacts{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .bottom-menu__contacts{
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 60px;
    }
    .bottom-menu__socials{
        display: flex;
        gap: 20px;
    }
}