.upper-menu {
    padding-top: 70px;
    padding-bottom: 30px;
    color: var(--dark-bg);
    background: var(--lightest-neutral);
}

.upper-menu__inner {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.upper-menu__mail {
    margin-right: 60px;
}

.upper-menu__phone-and-hours{
    margin-right: 144px;
}

.upper-menu__logo{
    flex-shrink: 0;
    margin-right: 146px;
    width: 124px;
    height: 40px;
}

.upper-menu__logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.upper-menu__socials{
    margin-right: 60px;
}


.phone{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.working-hours{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--neutral);
}

.upper-menu__logo{
    display: block;
    width: 124px;
    height: 40px;
}

.upper-menu__burger{
    display: none;
}

/* ==================MEDIA============================ */

@media (max-width: 1300px) {
    .upper-menu__inner {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .upper-menu__mail {
        margin-right: 15px;
    }
    
    .upper-menu__phone-and-hours{
        margin-right: 15px;
    }
    
    .upper-menu__logo{
        margin-right: 15px;
    }
    
    
    .upper-menu__socials{
        margin-right: 15px;
    }
}

@media (max-width: 1000px) {
    .upper-menu{
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .upper-menu__inner {
        align-items: center;
    }

    .upper-menu__burger{
        display: block;
        order: 4;
    }

    .upper-menu__mail {
        display: none;
    }
    
    .upper-menu__phone-and-hours{
        margin-right: 56px;
        order: 1;
    }
    
    .upper-menu__logo{
        margin-right: 56px;
        order: 2;
    }
    
    .upper-menu__socials{
        margin-right: 30px;
        order: 0;
    }

    .upper-menu__callback-order-btn{
        margin-right: 30px;
        order: 3;
    }
}

@media (max-width: 960px) {
    .upper-menu__mail {
        margin-right: 10px;
    }
    
    .upper-menu__phone-and-hours{
        margin-right: 10px;
        order: 1;
    }
    
    .upper-menu__logo{
        margin-right: 10px;
        order: 0;
    }
    
    
    .upper-menu__socials{
        display: none;
    }

    .upper-menu__socials{
        column-gap: 7px;
    }

    .upper-menu__callback-order-btn{
        margin-right: 10px;
        order: 2;
    }

    .upper-menu__burger{
        order: 3;
    }
}
@media (max-width: 742px) {
    .upper-menu__phone-and-hours{
        display: none;
    }
    .upper-menu__logo{
        margin-right: 10%;
    }
}

@media (max-width: 540px) {
    .upper-menu__callback-order-btn{
        min-width: 187px !important;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .upper-menu__logo{
        width: 94px;
        height: 30px;
    }
}

@media (max-width: 400px) {
    .upper-menu__callback-order-btn{
        display: none;
    }

    .upper-menu__inner{
        justify-content: start;
    }

    .upper-menu__logo{
        width: 94px;
        height: 30px;
        margin-right: auto;
    }

    .upper-menu__btn-mobile-phone{
        margin-right: 40px;
    }
}