body {
    position: relative;
    background: var(--light-bg);
}

@media (max-width: 1000px) {
    .header{
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
        left: 0;
    }

    main {
        padding-top: 200px;
    }
}
@media (max-width: 480px) {
    main {
        padding-top: 180px;
    }
}