body {
    position: relative;
    background: var(--light-bg);
}

.header{
    position: relative;
}


@media (max-width: 1000px) {
    .header{
        position: fixed;
        width: 100%;
        z-index: 20;
    }

    main {
        padding-top: 200px;
    }
}
@media (max-width: 480px) {
    main {
        padding-top: 180px;
    }
}