body {
    position: relative;
    background: var(--light-bg);
}

.header{
    position: relative;
}

@media (max-width: 1000px) {
    body, html {
        overflow-x: hidden;
    }

    .header{
        position: fixed;
        width: 100%;
        z-index: 20;
    }
}