.rewiew-block-grid {
    border: 2px solid var(--accent);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rewiew--block-grid__content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-height: 90%;
    overflow: hidden;
}

.rewiew--block-grid__header{
    display: flex;
    justify-content: space-between;
}

.rewiew--block-grid__text{
    overflow: auto;
}


.rewiew-block-grid__link{
    position: absolute;
    width: 284px;
    bottom: 0;
    right: 40px;
    transform: translateY(50%);
    padding: 0px 20px;
}

.rewiew-block-grid.rewiew-block-grid--default{
    padding: 40px;
}

@media (max-width: 480px) {
    .rewiew-block-grid__link{
        width: 240px;
    }
}

@media (max-width: 480px) {
    .rewiew-block-grid__link{
        width: 209px;
    }
}

