.main-offer{
    margin-bottom: 180px;
}

.main-offer__elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.main-offer__title{
    margin-bottom: 40px;
}

.main-offer__list{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--accent);
}

.main-offer__list li{
    position: relative;
}

.main-offer__list li::before{
    content: '';
    width: 23px;
    height: 17px;
    position: absolute;
    top: 3.5px;
    left: -43px;
    background: url('../../ui-icons/blue-checked-icon.svg') center center no-repeat
}

.main__offer-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main-offer__image{
    display: block;
    max-width: 100%;
    padding: 0px 20px;
    object-fit: cover;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .main-offer__elements{
        flex-direction: column;
        align-items: start;
        row-gap: 50px;
    }
    .main-offer__list{
        margin-left: 45px;
        order: 0;
    }

    .main__offer-btns{
        order: 1;
    }
}

@media (max-width: 480px) {
    .main__offer-btns .btn{
        width: 100%;
    }

    .main-offer {
        margin-bottom: 150px;
    }
}

