.reviews-list{
    padding-bottom: 180px;
}

.reviews-list__title{
    margin-bottom: 30px;
}

.reviews-list__contacts{
    padding-left: 69px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.reviews-list__contacts-mail{
    font-size: 30px;
    color: var(--accent) !important;
    display: block;
}

.reviews-list__btn{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}