.contacts{
    width: 1300px;
    color: #fff;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 15;
    padding: 50px 191px;
}

.contacts__phone:hover{
    text-decoration: underline;
}

.contacts a{
    cursor: pointer;
}




@media (max-width: 1400px) {
    .contacts{
        width: 100%;
        padding: 50px;
        flex-wrap: wrap;
        row-gap: 40px;
    }
}

@media (max-width: 830px) {
    .contacts{
        font-size: 40px;
        padding: 50px 46px;
    }
    
}

@media (max-width: 768px) {
    .contacts{
        font-size: 26px;
        padding: 50px 26px;
    }

}

@media (max-width: 516px) {
    .contacts{
        font-size: 26px;
        padding: 30px 20px;
    }
}

@media (max-width: 360px) {
    .contacts{
        font-size: 18px;
        padding: 20px;
    }
}