.stars{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.stars > img {
    width: 20px;
    height: 19px;
}

.stars.stars--large{
    column-gap: 20px;
}

.stars.stars--large> img {
    width: 30px;
    height: 29px;
}